body{background:#111;color:#888;font-family:sans-serif}h1{text-align:center}footer{clear:both;text-align:center;padding-top:7ex}kbd{font-family:monospace;color:#8f8;font-size:130%;background:#030}
a{color:#888;text-decoration:none}a:hover{color:#fff;text-decoration:underline}
#logo{float:left;position:relative;font-family:monospace;font-weight:bold;white-space:pre}
#helpbtn{float:right;position:relative;font-size:150%;margin:0 16px}
#help{width:512px;margin:16px auto;border:solid #484 1px;padding:1ex}
#help th{text-align:right;padding-right:1ex;font-weight:normal}
#vids,#toc{width:256px;margin:1em 1ex;padding:2px}@media screen and (max-width:1100px){#vids,#toc{display:none}}
#vids{float:left}#vids a{height:64px;line-height:64px;padding-left:72px;display:block;border:solid #444 1px;background:left center no-repeat url(smiley.png);margin:0 4px}
#vids a.sel{background-color:#222}#vids a:hover{border-color:#fff}
#toc{float:right}#toc a{display:block;height:3ex}#toc a.sel{color:#880}
#sub{color:#880;text-align:center;margin-top:16px}

/*ap:asciinema player,_w:wrapper,_t:terminal,_c:controls,_g:inner gutter,_fs:fullscreen,_s:start screen*/
#ap_w{outline:none;height:100%;display:flex;justify-content:center}
#ap_w.fs{background-color:#111;width:100%;align-items:center;-webkit-align-items:center}
#ap_w.fs #ap_player{position:static}
#ap_w #ap_player{text-align:left;display:inline-block;padding:0;position:relative;box-sizing:content-box;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;
 overflow:hidden;max-width:100%;font-size:12px}
#ap_player svg{fill:#888}
#ap_player svg:hover{fill:#fff}
#ap_t{line-height:1.3em;embox-sizing:content-box;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;overflow:hidden;padding:0;margin:0;display:block;white-space:pre;border:0;
  word-wrap:normal;word-break:normal;cursor:text;border-width:0.75em;font-family:monospace}
#ap_t .line{height:1.3em;letter-spacing:normal;overflow:hidden;display:block;width:200%}
#ap_t .line span{padding:0;display:inline-block;height:100%}
#ap_t .line .cursor-a{display:inline-block} #ap_t.cursor .line .cursor-a{display:none}
#ap_t .line .cursor-b{display:none}         #ap_t.cursor .line .cursor-b{display:inline-block}
#ap_t .line .blink{visibility:hidden}       #ap_t.blink .line .blink{visibility:visible}
#ap_t .bold{font-weight:bold} #ap_t .underline{text-decoration:underline} #ap_t .italic{font-style:italic} #ap_t .strikethrough{text-decoration:line-through}
#ap_c{width:100%;height:32px;background:#000;color:#bbb;box-sizing:content-box;line-height:1;position:absolute;bottom:-35px;left:0;transition:bottom 0.15s linear;-webkit-touch-callout:none;z-index:30;
  -webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
#ap_c *{box-sizing:inherit;font-size:0}
#ap_pause{display:block;float:left;cursor:pointer;height:12px;width:12px;padding:10px}
#ap_pause svg{height:12px;width:12px}
#ap_pause0{display:none}   #ap_w.playing #ap_pause0{display:inline}
#ap_pause1{display:inline} #ap_w.playing #ap_pause1{display:none}
#ap_timer{float:left;width:50px;height:100%;text-align:center;font-family:sans-serif;font-size:11px;font-weight:bold;line-height:32px;cursor:default}
#ap_seek{overflow:hidden;height:100%;margin:0 20px;padding-top:15px;font-size:0;cursor:pointer}
#ap_gutter{height:3px;background-color:#333}
#ap_g{height:100%;background-color:#bbb;width:100%;transform-origin:left center}
#ap_seek:hover #ap_g{background-color:#fff}
#ap_fs{display:block;float:right;width:14px;height:14px;padding:9px;cursor:pointer}
#ap_fs0,#ap_w.fs #ap_fs1{display:inline}
#ap_fs1,#ap_w.fs #ap_fs0{display:none}
#ap_w.hud #ap_c{bottom:0}
#ap_s{display:block;position:absolute;top:0;left:0;right:0;bottom:0;cursor:pointer}

#ap_t .fg-16 {color:#000000}#ap_t .bg-16 {background:#000000}#ap_t .fg-96 {color:#875f87}#ap_t .bg-96 {background:#875f87}#ap_t .fg-176{color:#d787d7}#ap_t .bg-176{background:#d787d7}
#ap_t .fg-17 {color:#00005f}#ap_t .bg-17 {background:#00005f}#ap_t .fg-97 {color:#875faf}#ap_t .bg-97 {background:#875faf}#ap_t .fg-177{color:#d787ff}#ap_t .bg-177{background:#d787ff}
#ap_t .fg-18 {color:#000087}#ap_t .bg-18 {background:#000087}#ap_t .fg-98 {color:#875fd7}#ap_t .bg-98 {background:#875fd7}#ap_t .fg-178{color:#d7af00}#ap_t .bg-178{background:#d7af00}
#ap_t .fg-19 {color:#0000af}#ap_t .bg-19 {background:#0000af}#ap_t .fg-99 {color:#875fff}#ap_t .bg-99 {background:#875fff}#ap_t .fg-179{color:#d7af5f}#ap_t .bg-179{background:#d7af5f}
#ap_t .fg-20 {color:#0000d7}#ap_t .bg-20 {background:#0000d7}#ap_t .fg-100{color:#878700}#ap_t .bg-100{background:#878700}#ap_t .fg-180{color:#d7af87}#ap_t .bg-180{background:#d7af87}
#ap_t .fg-21 {color:#0000ff}#ap_t .bg-21 {background:#0000ff}#ap_t .fg-101{color:#87875f}#ap_t .bg-101{background:#87875f}#ap_t .fg-181{color:#d7afaf}#ap_t .bg-181{background:#d7afaf}
#ap_t .fg-22 {color:#005f00}#ap_t .bg-22 {background:#005f00}#ap_t .fg-102{color:#878787}#ap_t .bg-102{background:#878787}#ap_t .fg-182{color:#d7afd7}#ap_t .bg-182{background:#d7afd7}
#ap_t .fg-23 {color:#005f5f}#ap_t .bg-23 {background:#005f5f}#ap_t .fg-103{color:#8787af}#ap_t .bg-103{background:#8787af}#ap_t .fg-183{color:#d7afff}#ap_t .bg-183{background:#d7afff}
#ap_t .fg-24 {color:#005f87}#ap_t .bg-24 {background:#005f87}#ap_t .fg-104{color:#8787d7}#ap_t .bg-104{background:#8787d7}#ap_t .fg-184{color:#d7d700}#ap_t .bg-184{background:#d7d700}
#ap_t .fg-25 {color:#005faf}#ap_t .bg-25 {background:#005faf}#ap_t .fg-105{color:#8787ff}#ap_t .bg-105{background:#8787ff}#ap_t .fg-185{color:#d7d75f}#ap_t .bg-185{background:#d7d75f}
#ap_t .fg-26 {color:#005fd7}#ap_t .bg-26 {background:#005fd7}#ap_t .fg-106{color:#87af00}#ap_t .bg-106{background:#87af00}#ap_t .fg-186{color:#d7d787}#ap_t .bg-186{background:#d7d787}
#ap_t .fg-27 {color:#005fff}#ap_t .bg-27 {background:#005fff}#ap_t .fg-107{color:#87af5f}#ap_t .bg-107{background:#87af5f}#ap_t .fg-187{color:#d7d7af}#ap_t .bg-187{background:#d7d7af}
#ap_t .fg-28 {color:#008700}#ap_t .bg-28 {background:#008700}#ap_t .fg-108{color:#87af87}#ap_t .bg-108{background:#87af87}#ap_t .fg-188{color:#d7d7d7}#ap_t .bg-188{background:#d7d7d7}
#ap_t .fg-29 {color:#00875f}#ap_t .bg-29 {background:#00875f}#ap_t .fg-109{color:#87afaf}#ap_t .bg-109{background:#87afaf}#ap_t .fg-189{color:#d7d7ff}#ap_t .bg-189{background:#d7d7ff}
#ap_t .fg-30 {color:#008787}#ap_t .bg-30 {background:#008787}#ap_t .fg-110{color:#87afd7}#ap_t .bg-110{background:#87afd7}#ap_t .fg-190{color:#d7ff00}#ap_t .bg-190{background:#d7ff00}
#ap_t .fg-31 {color:#0087af}#ap_t .bg-31 {background:#0087af}#ap_t .fg-111{color:#87afff}#ap_t .bg-111{background:#87afff}#ap_t .fg-191{color:#d7ff5f}#ap_t .bg-191{background:#d7ff5f}
#ap_t .fg-32 {color:#0087d7}#ap_t .bg-32 {background:#0087d7}#ap_t .fg-112{color:#87d700}#ap_t .bg-112{background:#87d700}#ap_t .fg-192{color:#d7ff87}#ap_t .bg-192{background:#d7ff87}
#ap_t .fg-33 {color:#0087ff}#ap_t .bg-33 {background:#0087ff}#ap_t .fg-113{color:#87d75f}#ap_t .bg-113{background:#87d75f}#ap_t .fg-193{color:#d7ffaf}#ap_t .bg-193{background:#d7ffaf}
#ap_t .fg-34 {color:#00af00}#ap_t .bg-34 {background:#00af00}#ap_t .fg-114{color:#87d787}#ap_t .bg-114{background:#87d787}#ap_t .fg-194{color:#d7ffd7}#ap_t .bg-194{background:#d7ffd7}
#ap_t .fg-35 {color:#00af5f}#ap_t .bg-35 {background:#00af5f}#ap_t .fg-115{color:#87d7af}#ap_t .bg-115{background:#87d7af}#ap_t .fg-195{color:#d7ffff}#ap_t .bg-195{background:#d7ffff}
#ap_t .fg-36 {color:#00af87}#ap_t .bg-36 {background:#00af87}#ap_t .fg-116{color:#87d7d7}#ap_t .bg-116{background:#87d7d7}#ap_t .fg-196{color:#ff0000}#ap_t .bg-196{background:#ff0000}
#ap_t .fg-37 {color:#00afaf}#ap_t .bg-37 {background:#00afaf}#ap_t .fg-117{color:#87d7ff}#ap_t .bg-117{background:#87d7ff}#ap_t .fg-197{color:#ff005f}#ap_t .bg-197{background:#ff005f}
#ap_t .fg-38 {color:#00afd7}#ap_t .bg-38 {background:#00afd7}#ap_t .fg-118{color:#87ff00}#ap_t .bg-118{background:#87ff00}#ap_t .fg-198{color:#ff0087}#ap_t .bg-198{background:#ff0087}
#ap_t .fg-39 {color:#00afff}#ap_t .bg-39 {background:#00afff}#ap_t .fg-119{color:#87ff5f}#ap_t .bg-119{background:#87ff5f}#ap_t .fg-199{color:#ff00af}#ap_t .bg-199{background:#ff00af}
#ap_t .fg-40 {color:#00d700}#ap_t .bg-40 {background:#00d700}#ap_t .fg-120{color:#87ff87}#ap_t .bg-120{background:#87ff87}#ap_t .fg-200{color:#ff00d7}#ap_t .bg-200{background:#ff00d7}
#ap_t .fg-41 {color:#00d75f}#ap_t .bg-41 {background:#00d75f}#ap_t .fg-121{color:#87ffaf}#ap_t .bg-121{background:#87ffaf}#ap_t .fg-201{color:#ff00ff}#ap_t .bg-201{background:#ff00ff}
#ap_t .fg-42 {color:#00d787}#ap_t .bg-42 {background:#00d787}#ap_t .fg-122{color:#87ffd7}#ap_t .bg-122{background:#87ffd7}#ap_t .fg-202{color:#ff5f00}#ap_t .bg-202{background:#ff5f00}
#ap_t .fg-43 {color:#00d7af}#ap_t .bg-43 {background:#00d7af}#ap_t .fg-123{color:#87ffff}#ap_t .bg-123{background:#87ffff}#ap_t .fg-203{color:#ff5f5f}#ap_t .bg-203{background:#ff5f5f}
#ap_t .fg-44 {color:#00d7d7}#ap_t .bg-44 {background:#00d7d7}#ap_t .fg-124{color:#af0000}#ap_t .bg-124{background:#af0000}#ap_t .fg-204{color:#ff5f87}#ap_t .bg-204{background:#ff5f87}
#ap_t .fg-45 {color:#00d7ff}#ap_t .bg-45 {background:#00d7ff}#ap_t .fg-125{color:#af005f}#ap_t .bg-125{background:#af005f}#ap_t .fg-205{color:#ff5faf}#ap_t .bg-205{background:#ff5faf}
#ap_t .fg-46 {color:#00ff00}#ap_t .bg-46 {background:#00ff00}#ap_t .fg-126{color:#af0087}#ap_t .bg-126{background:#af0087}#ap_t .fg-206{color:#ff5fd7}#ap_t .bg-206{background:#ff5fd7}
#ap_t .fg-47 {color:#00ff5f}#ap_t .bg-47 {background:#00ff5f}#ap_t .fg-127{color:#af00af}#ap_t .bg-127{background:#af00af}#ap_t .fg-207{color:#ff5fff}#ap_t .bg-207{background:#ff5fff}
#ap_t .fg-48 {color:#00ff87}#ap_t .bg-48 {background:#00ff87}#ap_t .fg-128{color:#af00d7}#ap_t .bg-128{background:#af00d7}#ap_t .fg-208{color:#ff8700}#ap_t .bg-208{background:#ff8700}
#ap_t .fg-49 {color:#00ffaf}#ap_t .bg-49 {background:#00ffaf}#ap_t .fg-129{color:#af00ff}#ap_t .bg-129{background:#af00ff}#ap_t .fg-209{color:#ff875f}#ap_t .bg-209{background:#ff875f}
#ap_t .fg-50 {color:#00ffd7}#ap_t .bg-50 {background:#00ffd7}#ap_t .fg-130{color:#af5f00}#ap_t .bg-130{background:#af5f00}#ap_t .fg-210{color:#ff8787}#ap_t .bg-210{background:#ff8787}
#ap_t .fg-51 {color:#00ffff}#ap_t .bg-51 {background:#00ffff}#ap_t .fg-131{color:#af5f5f}#ap_t .bg-131{background:#af5f5f}#ap_t .fg-211{color:#ff87af}#ap_t .bg-211{background:#ff87af}
#ap_t .fg-52 {color:#5f0000}#ap_t .bg-52 {background:#5f0000}#ap_t .fg-132{color:#af5f87}#ap_t .bg-132{background:#af5f87}#ap_t .fg-212{color:#ff87d7}#ap_t .bg-212{background:#ff87d7}
#ap_t .fg-53 {color:#5f005f}#ap_t .bg-53 {background:#5f005f}#ap_t .fg-133{color:#af5faf}#ap_t .bg-133{background:#af5faf}#ap_t .fg-213{color:#ff87ff}#ap_t .bg-213{background:#ff87ff}
#ap_t .fg-54 {color:#5f0087}#ap_t .bg-54 {background:#5f0087}#ap_t .fg-134{color:#af5fd7}#ap_t .bg-134{background:#af5fd7}#ap_t .fg-214{color:#ffaf00}#ap_t .bg-214{background:#ffaf00}
#ap_t .fg-55 {color:#5f00af}#ap_t .bg-55 {background:#5f00af}#ap_t .fg-135{color:#af5fff}#ap_t .bg-135{background:#af5fff}#ap_t .fg-215{color:#ffaf5f}#ap_t .bg-215{background:#ffaf5f}
#ap_t .fg-56 {color:#5f00d7}#ap_t .bg-56 {background:#5f00d7}#ap_t .fg-136{color:#af8700}#ap_t .bg-136{background:#af8700}#ap_t .fg-216{color:#ffaf87}#ap_t .bg-216{background:#ffaf87}
#ap_t .fg-57 {color:#5f00ff}#ap_t .bg-57 {background:#5f00ff}#ap_t .fg-137{color:#af875f}#ap_t .bg-137{background:#af875f}#ap_t .fg-217{color:#ffafaf}#ap_t .bg-217{background:#ffafaf}
#ap_t .fg-58 {color:#5f5f00}#ap_t .bg-58 {background:#5f5f00}#ap_t .fg-138{color:#af8787}#ap_t .bg-138{background:#af8787}#ap_t .fg-218{color:#ffafd7}#ap_t .bg-218{background:#ffafd7}
#ap_t .fg-59 {color:#5f5f5f}#ap_t .bg-59 {background:#5f5f5f}#ap_t .fg-139{color:#af87af}#ap_t .bg-139{background:#af87af}#ap_t .fg-219{color:#ffafff}#ap_t .bg-219{background:#ffafff}
#ap_t .fg-60 {color:#5f5f87}#ap_t .bg-60 {background:#5f5f87}#ap_t .fg-140{color:#af87d7}#ap_t .bg-140{background:#af87d7}#ap_t .fg-220{color:#ffd700}#ap_t .bg-220{background:#ffd700}
#ap_t .fg-61 {color:#5f5faf}#ap_t .bg-61 {background:#5f5faf}#ap_t .fg-141{color:#af87ff}#ap_t .bg-141{background:#af87ff}#ap_t .fg-221{color:#ffd75f}#ap_t .bg-221{background:#ffd75f}
#ap_t .fg-62 {color:#5f5fd7}#ap_t .bg-62 {background:#5f5fd7}#ap_t .fg-142{color:#afaf00}#ap_t .bg-142{background:#afaf00}#ap_t .fg-222{color:#ffd787}#ap_t .bg-222{background:#ffd787}
#ap_t .fg-63 {color:#5f5fff}#ap_t .bg-63 {background:#5f5fff}#ap_t .fg-143{color:#afaf5f}#ap_t .bg-143{background:#afaf5f}#ap_t .fg-223{color:#ffd7af}#ap_t .bg-223{background:#ffd7af}
#ap_t .fg-64 {color:#5f8700}#ap_t .bg-64 {background:#5f8700}#ap_t .fg-144{color:#afaf87}#ap_t .bg-144{background:#afaf87}#ap_t .fg-224{color:#ffd7d7}#ap_t .bg-224{background:#ffd7d7}
#ap_t .fg-65 {color:#5f875f}#ap_t .bg-65 {background:#5f875f}#ap_t .fg-145{color:#afafaf}#ap_t .bg-145{background:#afafaf}#ap_t .fg-225{color:#ffd7ff}#ap_t .bg-225{background:#ffd7ff}
#ap_t .fg-66 {color:#5f8787}#ap_t .bg-66 {background:#5f8787}#ap_t .fg-146{color:#afafd7}#ap_t .bg-146{background:#afafd7}#ap_t .fg-226{color:#ffff00}#ap_t .bg-226{background:#ffff00}
#ap_t .fg-67 {color:#5f87af}#ap_t .bg-67 {background:#5f87af}#ap_t .fg-147{color:#afafff}#ap_t .bg-147{background:#afafff}#ap_t .fg-227{color:#ffff5f}#ap_t .bg-227{background:#ffff5f}
#ap_t .fg-68 {color:#5f87d7}#ap_t .bg-68 {background:#5f87d7}#ap_t .fg-148{color:#afd700}#ap_t .bg-148{background:#afd700}#ap_t .fg-228{color:#ffff87}#ap_t .bg-228{background:#ffff87}
#ap_t .fg-69 {color:#5f87ff}#ap_t .bg-69 {background:#5f87ff}#ap_t .fg-149{color:#afd75f}#ap_t .bg-149{background:#afd75f}#ap_t .fg-229{color:#ffffaf}#ap_t .bg-229{background:#ffffaf}
#ap_t .fg-70 {color:#5faf00}#ap_t .bg-70 {background:#5faf00}#ap_t .fg-150{color:#afd787}#ap_t .bg-150{background:#afd787}#ap_t .fg-230{color:#ffffd7}#ap_t .bg-230{background:#ffffd7}
#ap_t .fg-71 {color:#5faf5f}#ap_t .bg-71 {background:#5faf5f}#ap_t .fg-151{color:#afd7af}#ap_t .bg-151{background:#afd7af}#ap_t .fg-231{color:#ffffff}#ap_t .bg-231{background:#ffffff}
#ap_t .fg-72 {color:#5faf87}#ap_t .bg-72 {background:#5faf87}#ap_t .fg-152{color:#afd7d7}#ap_t .bg-152{background:#afd7d7}#ap_t .fg-232{color:#080808}#ap_t .bg-232{background:#080808}
#ap_t .fg-73 {color:#5fafaf}#ap_t .bg-73 {background:#5fafaf}#ap_t .fg-153{color:#afd7ff}#ap_t .bg-153{background:#afd7ff}#ap_t .fg-233{color:#121212}#ap_t .bg-233{background:#121212}
#ap_t .fg-74 {color:#5fafd7}#ap_t .bg-74 {background:#5fafd7}#ap_t .fg-154{color:#afff00}#ap_t .bg-154{background:#afff00}#ap_t .fg-234{color:#1c1c1c}#ap_t .bg-234{background:#1c1c1c}
#ap_t .fg-75 {color:#5fafff}#ap_t .bg-75 {background:#5fafff}#ap_t .fg-155{color:#afff5f}#ap_t .bg-155{background:#afff5f}#ap_t .fg-235{color:#262626}#ap_t .bg-235{background:#262626}
#ap_t .fg-76 {color:#5fd700}#ap_t .bg-76 {background:#5fd700}#ap_t .fg-156{color:#afff87}#ap_t .bg-156{background:#afff87}#ap_t .fg-236{color:#303030}#ap_t .bg-236{background:#303030}
#ap_t .fg-77 {color:#5fd75f}#ap_t .bg-77 {background:#5fd75f}#ap_t .fg-157{color:#afffaf}#ap_t .bg-157{background:#afffaf}#ap_t .fg-237{color:#3a3a3a}#ap_t .bg-237{background:#3a3a3a}
#ap_t .fg-78 {color:#5fd787}#ap_t .bg-78 {background:#5fd787}#ap_t .fg-158{color:#afffd7}#ap_t .bg-158{background:#afffd7}#ap_t .fg-238{color:#444444}#ap_t .bg-238{background:#444444}
#ap_t .fg-79 {color:#5fd7af}#ap_t .bg-79 {background:#5fd7af}#ap_t .fg-159{color:#afffff}#ap_t .bg-159{background:#afffff}#ap_t .fg-239{color:#4e4e4e}#ap_t .bg-239{background:#4e4e4e}
#ap_t .fg-80 {color:#5fd7d7}#ap_t .bg-80 {background:#5fd7d7}#ap_t .fg-160{color:#d70000}#ap_t .bg-160{background:#d70000}#ap_t .fg-240{color:#585858}#ap_t .bg-240{background:#585858}
#ap_t .fg-81 {color:#5fd7ff}#ap_t .bg-81 {background:#5fd7ff}#ap_t .fg-161{color:#d7005f}#ap_t .bg-161{background:#d7005f}#ap_t .fg-241{color:#626262}#ap_t .bg-241{background:#626262}
#ap_t .fg-82 {color:#5fff00}#ap_t .bg-82 {background:#5fff00}#ap_t .fg-162{color:#d70087}#ap_t .bg-162{background:#d70087}#ap_t .fg-242{color:#6c6c6c}#ap_t .bg-242{background:#6c6c6c}
#ap_t .fg-83 {color:#5fff5f}#ap_t .bg-83 {background:#5fff5f}#ap_t .fg-163{color:#d700af}#ap_t .bg-163{background:#d700af}#ap_t .fg-243{color:#767676}#ap_t .bg-243{background:#767676}
#ap_t .fg-84 {color:#5fff87}#ap_t .bg-84 {background:#5fff87}#ap_t .fg-164{color:#d700d7}#ap_t .bg-164{background:#d700d7}#ap_t .fg-244{color:#808080}#ap_t .bg-244{background:#808080}
#ap_t .fg-85 {color:#5fffaf}#ap_t .bg-85 {background:#5fffaf}#ap_t .fg-165{color:#d700ff}#ap_t .bg-165{background:#d700ff}#ap_t .fg-245{color:#8a8a8a}#ap_t .bg-245{background:#8a8a8a}
#ap_t .fg-86 {color:#5fffd7}#ap_t .bg-86 {background:#5fffd7}#ap_t .fg-166{color:#d75f00}#ap_t .bg-166{background:#d75f00}#ap_t .fg-246{color:#949494}#ap_t .bg-246{background:#949494}
#ap_t .fg-87 {color:#5fffff}#ap_t .bg-87 {background:#5fffff}#ap_t .fg-167{color:#d75f5f}#ap_t .bg-167{background:#d75f5f}#ap_t .fg-247{color:#9e9e9e}#ap_t .bg-247{background:#9e9e9e}
#ap_t .fg-88 {color:#870000}#ap_t .bg-88 {background:#870000}#ap_t .fg-168{color:#d75f87}#ap_t .bg-168{background:#d75f87}#ap_t .fg-248{color:#a8a8a8}#ap_t .bg-248{background:#a8a8a8}
#ap_t .fg-89 {color:#87005f}#ap_t .bg-89 {background:#87005f}#ap_t .fg-169{color:#d75faf}#ap_t .bg-169{background:#d75faf}#ap_t .fg-249{color:#b2b2b2}#ap_t .bg-249{background:#b2b2b2}
#ap_t .fg-90 {color:#870087}#ap_t .bg-90 {background:#870087}#ap_t .fg-170{color:#d75fd7}#ap_t .bg-170{background:#d75fd7}#ap_t .fg-250{color:#bcbcbc}#ap_t .bg-250{background:#bcbcbc}
#ap_t .fg-91 {color:#8700af}#ap_t .bg-91 {background:#8700af}#ap_t .fg-171{color:#d75fff}#ap_t .bg-171{background:#d75fff}#ap_t .fg-251{color:#c6c6c6}#ap_t .bg-251{background:#c6c6c6}
#ap_t .fg-92 {color:#8700d7}#ap_t .bg-92 {background:#8700d7}#ap_t .fg-172{color:#d78700}#ap_t .bg-172{background:#d78700}#ap_t .fg-252{color:#d0d0d0}#ap_t .bg-252{background:#d0d0d0}
#ap_t .fg-93 {color:#8700ff}#ap_t .bg-93 {background:#8700ff}#ap_t .fg-173{color:#d7875f}#ap_t .bg-173{background:#d7875f}#ap_t .fg-253{color:#dadada}#ap_t .bg-253{background:#dadada}
#ap_t .fg-94 {color:#875f00}#ap_t .bg-94 {background:#875f00}#ap_t .fg-174{color:#d78787}#ap_t .bg-174{background:#d78787}#ap_t .fg-254{color:#e4e4e4}#ap_t .bg-254{background:#e4e4e4}
#ap_t .fg-95 {color:#875f5f}#ap_t .bg-95 {background:#875f5f}#ap_t .fg-175{color:#d787af}#ap_t .bg-175{background:#d787af}#ap_t .fg-255{color:#eeeeee}#ap_t .bg-255{background:#eeeeee}

/*
.ap_theme_asciinema{background:#121314}
.ap_theme_asciinema #ap_t{color:#CCCCCC;background:#121314;border-color:#121314}
.ap_theme_asciinema .fg-bg{color:#121314}           .ap_theme_asciinema .bg-fg{background:#CCCCCC}
.ap_theme_asciinema .fg-0 {color:hsl(  0, 0%,   0%)}.ap_theme_asciinema .bg-0 {background:hsl(  0, 0%,   0%)} .ap_theme_asciinema .fg-8 {color:hsl(  0, 0%,  30%)}.ap_theme_asciinema .bg-8 {background:hsl(  0, 0%,  30%)}
.ap_theme_asciinema .fg-1 {color:hsl(343,70%,  55%)}.ap_theme_asciinema .bg-1 {background:hsl(343,70%,  55%)} .ap_theme_asciinema .fg-9 {color:hsl(343,70%,  55%)}.ap_theme_asciinema .bg-9 {background:hsl(343,70%,  55%)}
.ap_theme_asciinema .fg-2 {color:hsl(103,70%,  44%)}.ap_theme_asciinema .bg-2 {background:hsl(103,70%,  44%)} .ap_theme_asciinema .fg-10{color:hsl(103,70%,  44%)}.ap_theme_asciinema .bg-10{background:hsl(103,70%,  44%)}
.ap_theme_asciinema .fg-3 {color:hsl( 43,70%,  55%)}.ap_theme_asciinema .bg-3 {background:hsl( 43,70%,  55%)} .ap_theme_asciinema .fg-11{color:hsl( 43,70%,  55%)}.ap_theme_asciinema .bg-11{background:hsl( 43,70%,  55%)}
.ap_theme_asciinema .fg-4 {color:hsl(193,70%,49.5%)}.ap_theme_asciinema .bg-4 {background:hsl(193,70%,49.5%)} .ap_theme_asciinema .fg-12{color:hsl(193,70%,49.5%)}.ap_theme_asciinema .bg-12{background:hsl(193,70%,49.5%)}
.ap_theme_asciinema .fg-5 {color:hsl(283,70%,60.5%)}.ap_theme_asciinema .bg-5 {background:hsl(283,70%,60.5%)} .ap_theme_asciinema .fg-13{color:hsl(283,70%,60.5%)}.ap_theme_asciinema .bg-13{background:hsl(283,70%,60.5%)}
.ap_theme_asciinema .fg-6 {color:hsl(163,70%,60.5%)}.ap_theme_asciinema .bg-6 {background:hsl(163,70%,60.5%)} .ap_theme_asciinema .fg-14{color:hsl(163,70%,60.5%)}.ap_theme_asciinema .bg-14{background:hsl(163,70%,60.5%)}
.ap_theme_asciinema .fg-7 {color:hsl(  0, 0%,  85%)}.ap_theme_asciinema .bg-7 {background:hsl(  0, 0%,  85%)} .ap_theme_asciinema .fg-15{color:hsl(  0, 0%, 100%)}.ap_theme_asciinema .bg-15{background:hsl(  0, 0%, 100%)}
.ap_theme_asciinema .fg-8,.ap_theme_asciinema .fg-9,.ap_theme_asciinema .fg-10,.ap_theme_asciinema .fg-11,
.ap_theme_asciinema .fg-12,.ap_theme_asciinema .fg-13,.ap_theme_asciinema .fg-14,.ap_theme_asciinema .fg-15{font-weight:bold}

.ap_theme_tango{background:#121314}
.ap_theme_tango #ap_t{color:#CCCCCC;background:#121314;border-color:#121314}
.ap_theme_tango .fg-bg{color:#121314}.ap_theme_tango .bg-fg{background:#CCCCCC}
.ap_theme_tango .fg-0 {color:#000000}.ap_theme_tango .bg-0 {background:#000000} .ap_theme_tango .fg-8 {color:#555753}.ap_theme_tango .bg-8 {background:#555753}
.ap_theme_tango .fg-1 {color:#CC0000}.ap_theme_tango .bg-1 {background:#CC0000} .ap_theme_tango .fg-9 {color:#EF2929}.ap_theme_tango .bg-9 {background:#EF2929}
.ap_theme_tango .fg-2 {color:#4E9A06}.ap_theme_tango .bg-2 {background:#4E9A06} .ap_theme_tango .fg-10{color:#8AE234}.ap_theme_tango .bg-10{background:#8AE234}
.ap_theme_tango .fg-3 {color:#C4A000}.ap_theme_tango .bg-3 {background:#C4A000} .ap_theme_tango .fg-11{color:#FCE94F}.ap_theme_tango .bg-11{background:#FCE94F}
.ap_theme_tango .fg-4 {color:#3465A4}.ap_theme_tango .bg-4 {background:#3465A4} .ap_theme_tango .fg-12{color:#729FCF}.ap_theme_tango .bg-12{background:#729FCF}
.ap_theme_tango .fg-5 {color:#75507B}.ap_theme_tango .bg-5 {background:#75507B} .ap_theme_tango .fg-13{color:#AD7FA8}.ap_theme_tango .bg-13{background:#AD7FA8}
.ap_theme_tango .fg-6 {color:#06989A}.ap_theme_tango .bg-6 {background:#06989A} .ap_theme_tango .fg-14{color:#34E2E2}.ap_theme_tango .bg-14{background:#34E2E2}
.ap_theme_tango .fg-7 {color:#D3D7CF}.ap_theme_tango .bg-7 {background:#D3D7CF} .ap_theme_tango .fg-15{color:#EEEEEC}.ap_theme_tango .bg-15{background:#EEEEEC}
.ap_theme_tango .fg-8,.ap_theme_tango .fg-9,.ap_theme_tango .fg-10,.ap_theme_tango .fg-11,.ap_theme_tango .fg-12,.ap_theme_tango .fg-13,.ap_theme_tango .fg-14,.ap_theme_tango .fg-15{font-weight:bold}

.ap_theme_solarized-dark{background:#002b36}
.ap_theme_solarized-dark #ap_t{color:#839496;background:#002b36;border-color:#002b36}
.ap_theme_solarized-dark .fg-bg{color:#002b36}.ap_theme_solarized-dark .bg-fg{background:#839496}
.ap_theme_solarized-dark .fg-0 {color:#073642}.ap_theme_solarized-dark .bg-0 {background:#073642} .ap_theme_solarized-dark .fg-8 {color:#002b36}.ap_theme_solarized-dark .bg-8 {background:#002b36}
.ap_theme_solarized-dark .fg-1 {color:#dc322f}.ap_theme_solarized-dark .bg-1 {background:#dc322f} .ap_theme_solarized-dark .fg-9 {color:#cb4b16}.ap_theme_solarized-dark .bg-9 {background:#cb4b16}
.ap_theme_solarized-dark .fg-2 {color:#859900}.ap_theme_solarized-dark .bg-2 {background:#859900} .ap_theme_solarized-dark .fg-10{color:#586e75}.ap_theme_solarized-dark .bg-10{background:#586e75}
.ap_theme_solarized-dark .fg-3 {color:#b58900}.ap_theme_solarized-dark .bg-3 {background:#b58900} .ap_theme_solarized-dark .fg-11{color:#657b83}.ap_theme_solarized-dark .bg-11{background:#657b83}
.ap_theme_solarized-dark .fg-4 {color:#268bd2}.ap_theme_solarized-dark .bg-4 {background:#268bd2} .ap_theme_solarized-dark .fg-12{color:#839496}.ap_theme_solarized-dark .bg-12{background:#839496}
.ap_theme_solarized-dark .fg-5 {color:#d33682}.ap_theme_solarized-dark .bg-5 {background:#d33682} .ap_theme_solarized-dark .fg-13{color:#6c71c4}.ap_theme_solarized-dark .bg-13{background:#6c71c4}
.ap_theme_solarized-dark .fg-6 {color:#2aa198}.ap_theme_solarized-dark .bg-6 {background:#2aa198} .ap_theme_solarized-dark .fg-14{color:#93a1a1}.ap_theme_solarized-dark .bg-14{background:#93a1a1}
.ap_theme_solarized-dark .fg-7 {color:#eee8d5}.ap_theme_solarized-dark .bg-7 {background:#eee8d5} .ap_theme_solarized-dark .fg-15{color:#fdf6e3}.ap_theme_solarized-dark .bg-15{background:#fdf6e3}

.ap_theme_solarized-light{background:#fdf6e3}
.ap_theme_solarized-light #ap_t{color:#657b83;background:#fdf6e3;border-color:#fdf6e3}
.ap_theme_solarized-light .fg-bg{color:#fdf6e3}.ap_theme_solarized-light .bg-fg{background:#657b83}
.ap_theme_solarized-light .fg-0 {color:#073642}.ap_theme_solarized-light .bg-0 {background:#073642} .ap_theme_solarized-light .fg-8 {color:#002b36}.ap_theme_solarized-light .bg-8 {background:#002b36}
.ap_theme_solarized-light .fg-1 {color:#dc322f}.ap_theme_solarized-light .bg-1 {background:#dc322f} .ap_theme_solarized-light .fg-9 {color:#cb4b16}.ap_theme_solarized-light .bg-9 {background:#cb4b16}
.ap_theme_solarized-light .fg-2 {color:#859900}.ap_theme_solarized-light .bg-2 {background:#859900} .ap_theme_solarized-light .fg-10{color:#586e75}.ap_theme_solarized-light .bg-10{background:#586e75}
.ap_theme_solarized-light .fg-3 {color:#b58900}.ap_theme_solarized-light .bg-3 {background:#b58900} .ap_theme_solarized-light .fg-11{color:#657c83}.ap_theme_solarized-light .bg-11{background:#657c83}
.ap_theme_solarized-light .fg-4 {color:#268bd2}.ap_theme_solarized-light .bg-4 {background:#268bd2} .ap_theme_solarized-light .fg-12{color:#839496}.ap_theme_solarized-light .bg-12{background:#839496}
.ap_theme_solarized-light .fg-5 {color:#d33682}.ap_theme_solarized-light .bg-5 {background:#d33682} .ap_theme_solarized-light .fg-13{color:#6c71c4}.ap_theme_solarized-light .bg-13{background:#6c71c4}
.ap_theme_solarized-light .fg-6 {color:#2aa198}.ap_theme_solarized-light .bg-6 {background:#2aa198} .ap_theme_solarized-light .fg-14{color:#93a1a1}.ap_theme_solarized-light .bg-14{background:#93a1a1}
.ap_theme_solarized-light .fg-7 {color:#eee8d5}.ap_theme_solarized-light .bg-7 {background:#eee8d5} .ap_theme_solarized-light .fg-15{color:#fdf6e3}.ap_theme_solarized-light .bg-15{background:#fdf6e3}

.ap_theme_seti{background:#111213}
.ap_theme_seti #ap_t{color:#cacecd;background:#111213;border-color:#111213}
.ap_theme_seti .fg-bg{color:#111213}.ap_theme_seti .bg-fg{background:#cacecd}
.ap_theme_seti .fg-0 {color:#323232}.ap_theme_seti .bg-0 {background:#323232} .ap_theme_seti .fg-8 {color:#323232}.ap_theme_seti .bg-8 {background:#323232}
.ap_theme_seti .fg-1 {color:#c22832}.ap_theme_seti .bg-1 {background:#c22832} .ap_theme_seti .fg-9 {color:#c22832}.ap_theme_seti .bg-9 {background:#c22832}
.ap_theme_seti .fg-2 {color:#8ec43d}.ap_theme_seti .bg-2 {background:#8ec43d} .ap_theme_seti .fg-10{color:#8ec43d}.ap_theme_seti .bg-10{background:#8ec43d}
.ap_theme_seti .fg-3 {color:#e0c64f}.ap_theme_seti .bg-3 {background:#e0c64f} .ap_theme_seti .fg-11{color:#e0c64f}.ap_theme_seti .bg-11{background:#e0c64f}
.ap_theme_seti .fg-4 {color:#43a5d5}.ap_theme_seti .bg-4 {background:#43a5d5} .ap_theme_seti .fg-12{color:#43a5d5}.ap_theme_seti .bg-12{background:#43a5d5}
.ap_theme_seti .fg-5 {color:#8b57b5}.ap_theme_seti .bg-5 {background:#8b57b5} .ap_theme_seti .fg-13{color:#8b57b5}.ap_theme_seti .bg-13{background:#8b57b5}
.ap_theme_seti .fg-6 {color:#8ec43d}.ap_theme_seti .bg-6 {background:#8ec43d} .ap_theme_seti .fg-14{color:#8ec43d}.ap_theme_seti .bg-14{background:#8ec43d}
.ap_theme_seti .fg-7 {color:#eeeeee}.ap_theme_seti .bg-7 {background:#eeeeee} .ap_theme_seti .fg-15{color:#ffffff}.ap_theme_seti .bg-15{background:#ffffff}
.ap_theme_seti .fg-8,.ap_theme_seti .fg-9,.ap_theme_seti .fg-10,.ap_theme_seti .fg-11,.ap_theme_seti .fg-12,.ap_theme_seti .fg-13,.ap_theme_seti .fg-14,.ap_theme_seti .fg-15{font-weight:bold}

.ap_theme_monokai{background:#272822}
.ap_theme_monokai #ap_t{color:#f8f8f2;background:#272822;border-color:#272822}
.ap_theme_monokai .fg-bg{color:#272822}.ap_theme_monokai .bg-fg{background:#f8f8f2}
.ap_theme_monokai .fg-0 {color:#272822}.ap_theme_monokai .bg-0 {background:#272822} .ap_theme_monokai .fg-8 {color:#75715e}.ap_theme_monokai .bg-8 {background:#75715e}
.ap_theme_monokai .fg-1 {color:#f92672}.ap_theme_monokai .bg-1 {background:#f92672} .ap_theme_monokai .fg-9 {color:#f92672}.ap_theme_monokai .bg-9 {background:#f92672}
.ap_theme_monokai .fg-2 {color:#a6e22e}.ap_theme_monokai .bg-2 {background:#a6e22e} .ap_theme_monokai .fg-10{color:#a6e22e}.ap_theme_monokai .bg-10{background:#a6e22e}
.ap_theme_monokai .fg-3 {color:#f4bf75}.ap_theme_monokai .bg-3 {background:#f4bf75} .ap_theme_monokai .fg-11{color:#f4bf75}.ap_theme_monokai .bg-11{background:#f4bf75}
.ap_theme_monokai .fg-4 {color:#66d9ef}.ap_theme_monokai .bg-4 {background:#66d9ef} .ap_theme_monokai .fg-12{color:#66d9ef}.ap_theme_monokai .bg-12{background:#66d9ef}
.ap_theme_monokai .fg-5 {color:#ae81ff}.ap_theme_monokai .bg-5 {background:#ae81ff} .ap_theme_monokai .fg-13{color:#ae81ff}.ap_theme_monokai .bg-13{background:#ae81ff}
.ap_theme_monokai .fg-6 {color:#a1efe4}.ap_theme_monokai .bg-6 {background:#a1efe4} .ap_theme_monokai .fg-14{color:#a1efe4}.ap_theme_monokai .bg-14{background:#a1efe4}
.ap_theme_monokai .fg-7 {color:#f8f8f2}.ap_theme_monokai .bg-7 {background:#f8f8f2} .ap_theme_monokai .fg-15{color:#f9f8f5}.ap_theme_monokai .bg-15{background:#f9f8f5}
.ap_theme_monokai .fg-8,.ap_theme_monokai .fg-9,.ap_theme_monokai .fg-10,.ap_theme_monokai .fg-11,
.ap_theme_monokai .fg-12,.ap_theme_monokai .fg-13,.ap_theme_monokai .fg-14,.ap_theme_monokai .fg-15{font-weight:bold}
*/

.ap_theme_ngn{background:#000}
.ap_theme_ngn #ap_t{color:#fff;background:#000;border-color:#000}
.ap_theme_ngn .fg-bg{color:#000} .ap_theme_ngn .bg-fg{background:#fff}
.ap_theme_ngn .fg-0 {color:#000} .ap_theme_ngn .bg-0 {background:#000} .ap_theme_ngn .fg-8 {color:#888} .ap_theme_ngn .bg-8 {background:#888}
.ap_theme_ngn .fg-1 {color:#f00} .ap_theme_ngn .bg-1 {background:#f00} .ap_theme_ngn .fg-9 {color:#c33} .ap_theme_ngn .bg-9 {background:#c33}
.ap_theme_ngn .fg-2 {color:#0f0} .ap_theme_ngn .bg-2 {background:#0f0} .ap_theme_ngn .fg-10{color:#3c3} .ap_theme_ngn .bg-10{background:#3c3}
.ap_theme_ngn .fg-3 {color:#ff0} .ap_theme_ngn .bg-3 {background:#ff0} .ap_theme_ngn .fg-11{color:#cc3} .ap_theme_ngn .bg-11{background:#cc3}
.ap_theme_ngn .fg-4 {color:#00f} .ap_theme_ngn .bg-4 {background:#00f} .ap_theme_ngn .fg-12{color:#33c} .ap_theme_ngn .bg-12{background:#33c}
.ap_theme_ngn .fg-5 {color:#f0f} .ap_theme_ngn .bg-5 {background:#f0f} .ap_theme_ngn .fg-13{color:#c3c} .ap_theme_ngn .bg-13{background:#c3c}
.ap_theme_ngn .fg-6 {color:#0ff} .ap_theme_ngn .bg-6 {background:#0ff} .ap_theme_ngn .fg-14{color:#3cc} .ap_theme_ngn .bg-14{background:#3cc}
.ap_theme_ngn .fg-7 {color:#fff} .ap_theme_ngn .bg-7 {background:#fff} .ap_theme_ngn .fg-15{color:#ccc} .ap_theme_ngn .bg-15{background:#ccc}
.ap_theme_ngn .fg-8,.ap_theme_ngn .fg-9,.ap_theme_ngn .fg-10,.ap_theme_ngn .fg-11,.ap_theme_ngn .fg-12,.ap_theme_ngn .fg-13,.ap_theme_ngn .fg-14,.ap_theme_ngn .fg-15{font-weight:bold}
